version: '3.4'

services:
  redis:
    image: "redis:alpine"
    hostname: redis
    ports:
        - "6379:6379"
    restart: always
    networks: 
        - bari-network
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: 'rabbitmq'
    ports:
        - 5672:5672
        - 15672:15672
    volumes:
        - ~/.docker-conf/rabbitmq/data/:/var/lib/rabbitmq/
        - ~/.docker-conf/rabbitmq/log/:/var/log/rabbitmq
    restart: always
    networks: 
        - bari-network
  bari.test.job.api:
    image: ${DOCKER_REGISTRY-}baritestjobapi             
    restart: always
    environment: 
        TZ: America/Sao_Paulo
    ports: 
        - "5000:80"
    links: 
        - redis
        - rabbitmq
    networks: 
        - bari-network
    build:
      context: .
      dockerfile: Bari.Test.Job.Api/Dockerfile
networks:
  bari-network:
    driver: bridge

